[submodule "Sources/CTreeSitter/upstream"]
	path = Sources/CTreeSitter/upstream
	url = https://github.com/tree-sitter/tree-sitter
[submodule "Sources/CTSGrammars/grammars/typescript"]
	path = Sources/CTSGrammars/grammars/typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript.git
[submodule "Sources/CTSGrammars/grammars/javascript"]
	path = Sources/CTSGrammars/grammars/javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript.git
[submodule "Sources/CTSGrammars/grammars/json"]
	path = Sources/CTSGrammars/grammars/json
	url = https://github.com/tree-sitter/tree-sitter-json.git
[submodule "Sources/CTSGrammars/grammars/html"]
	path = Sources/CTSGrammars/grammars/html
	url = https://github.com/tree-sitter/tree-sitter-html.git
[submodule "Sources/CTSGrammars/grammars/css"]
	path = Sources/CTSGrammars/grammars/css
	url = https://github.com/tree-sitter/tree-sitter-css.git
[submodule "Sources/CTSGrammars/grammars/python"]
	path = Sources/CTSGrammars/grammars/python
	url = https://github.com/tree-sitter/tree-sitter-python.git
[submodule "Sources/CTSGrammars/grammars/rust"]
	path = Sources/CTSGrammars/grammars/rust
	url = https://github.com/tree-sitter/tree-sitter-rust.git
[submodule "Sources/CTSGrammars/grammars/go"]
	path = Sources/CTSGrammars/grammars/go
	url = https://github.com/tree-sitter/tree-sitter-go.git
[submodule "Sources/CTSGrammars/grammars/c"]
	path = Sources/CTSGrammars/grammars/c
	url = https://github.com/tree-sitter/tree-sitter-c.git
[submodule "Sources/CTSGrammars/grammars/cpp"]
	path = Sources/CTSGrammars/grammars/cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp.git
[submodule "Sources/CTSGrammars/grammars/markdown"]
	path = Sources/CTSGrammars/grammars/markdown
	url = https://github.com/tree-sitter-grammars/tree-sitter-markdown.git
[submodule "Sources/CTSGrammars/grammars/yaml"]
	path = Sources/CTSGrammars/grammars/yaml
	url = https://github.com/tree-sitter-grammars/tree-sitter-yaml.git
[submodule "Sources/CTSGrammars/grammars/toml"]
	path = Sources/CTSGrammars/grammars/toml
	url = https://github.com/tree-sitter-grammars/tree-sitter-toml.git
[submodule "Sources/CTSGrammars/grammars/bash"]
	path = Sources/CTSGrammars/grammars/bash
	url = https://github.com/tree-sitter/tree-sitter-bash.git
	branch = master
[submodule "Sources/CTSGrammars/grammars/zig"]
	path = Sources/CTSGrammars/grammars/zig
	url = https://github.com/tree-sitter-grammars/tree-sitter-zig.git
	branch = master
[submodule "Sources/CTSGrammars/grammars/swift"]
	path = Sources/CTSGrammars/grammars/swift
	url = https://github.com/alex-pinkus/tree-sitter-swift.git
	branch = with-generated-files
[submodule "Sources/CTSGrammars/grammars/sql"]
	path = Sources/CTSGrammars/grammars/sql
	url = https://github.com/DerekStride/tree-sitter-sql.git
	branch = gh-pages
[submodule "Sources/CTSGrammars/grammars/dockerfile"]
	path = Sources/CTSGrammars/grammars/dockerfile
	url = https://github.com/camdencheek/tree-sitter-dockerfile.git
	branch = main
[submodule "Sources/CTSGrammars/grammars/dart"]
	path = Sources/CTSGrammars/grammars/dart
	url = https://github.com/nielsenko/tree-sitter-dart.git
	branch = main
[submodule "Sources/CTSGrammars/grammars/kotlin"]
	path = Sources/CTSGrammars/grammars/kotlin
	url = https://github.com/tree-sitter-grammars/tree-sitter-kotlin.git
	branch = master
[submodule "Sources/CTSGrammars/grammars/elixir"]
	path = Sources/CTSGrammars/grammars/elixir
	url = https://github.com/elixir-lang/tree-sitter-elixir.git
	branch = main
