[submodule "Sources/CTreeSitter/upstream"]
	path = Sources/CTreeSitter/upstream
	url = https://github.com/tree-sitter/tree-sitter
[submodule "Sources/CTSGrammars/grammars/typescript"]
	path = Sources/CTSGrammars/grammars/typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript.git
[submodule "Sources/CTSGrammars/grammars/javascript"]
	path = Sources/CTSGrammars/grammars/javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript.git
[submodule "Sources/CTSGrammars/grammars/json"]
	path = Sources/CTSGrammars/grammars/json
	url = https://github.com/tree-sitter/tree-sitter-json.git
[submodule "Sources/CTSGrammars/grammars/html"]
	path = Sources/CTSGrammars/grammars/html
	url = https://github.com/tree-sitter/tree-sitter-html.git
[submodule "Sources/CTSGrammars/grammars/css"]
	path = Sources/CTSGrammars/grammars/css
	url = https://github.com/tree-sitter/tree-sitter-css.git
[submodule "Sources/CTSGrammars/grammars/python"]
	path = Sources/CTSGrammars/grammars/python
	url = https://github.com/tree-sitter/tree-sitter-python.git
[submodule "Sources/CTSGrammars/grammars/rust"]
	path = Sources/CTSGrammars/grammars/rust
	url = https://github.com/tree-sitter/tree-sitter-rust.git
[submodule "Sources/CTSGrammars/grammars/go"]
	path = Sources/CTSGrammars/grammars/go
	url = https://github.com/tree-sitter/tree-sitter-go.git
[submodule "Sources/CTSGrammars/grammars/c"]
	path = Sources/CTSGrammars/grammars/c
	url = https://github.com/tree-sitter/tree-sitter-c.git
[submodule "Sources/CTSGrammars/grammars/cpp"]
	path = Sources/CTSGrammars/grammars/cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp.git
[submodule "Sources/CTSGrammars/grammars/markdown"]
	path = Sources/CTSGrammars/grammars/markdown
	url = https://github.com/tree-sitter-grammars/tree-sitter-markdown.git
[submodule "Sources/CTSGrammars/grammars/yaml"]
	path = Sources/CTSGrammars/grammars/yaml
	url = https://github.com/tree-sitter-grammars/tree-sitter-yaml.git
[submodule "Sources/CTSGrammars/grammars/toml"]
	path = Sources/CTSGrammars/grammars/toml
	url = https://github.com/tree-sitter-grammars/tree-sitter-toml.git
[submodule "Sources/CTSGrammars/grammars/bash"]
	path = Sources/CTSGrammars/grammars/bash
	url = https://github.com/tree-sitter/tree-sitter-bash.git
	branch = master
[submodule "Sources/CTSGrammars/grammars/zig"]
	path = Sources/CTSGrammars/grammars/zig
	url = https://github.com/tree-sitter-grammars/tree-sitter-zig.git
	branch = master
[submodule "Sources/CTSGrammars/grammars/swift"]
	path = Sources/CTSGrammars/grammars/swift
	url = https://github.com/alex-pinkus/tree-sitter-swift.git
	branch = with-generated-files
[submodule "Sources/CTSGrammars/grammars/sql"]
	path = Sources/CTSGrammars/grammars/sql
	url = https://github.com/DerekStride/tree-sitter-sql.git
	branch = gh-pages
[submodule "Sources/CTSGrammars/grammars/dockerfile"]
	path = Sources/CTSGrammars/grammars/dockerfile
	url = https://github.com/camdencheek/tree-sitter-dockerfile.git
	branch = main
[submodule "Sources/CTSGrammars/grammars/dart"]
	path = Sources/CTSGrammars/grammars/dart
	url = https://github.com/nielsenko/tree-sitter-dart.git
	branch = main
[submodule "Sources/CTSGrammars/grammars/kotlin"]
	path = Sources/CTSGrammars/grammars/kotlin
	url = https://github.com/fwcd/tree-sitter-kotlin.git
	branch = main
[submodule "Sources/CTSGrammars/grammars/elixir"]
	path = Sources/CTSGrammars/grammars/elixir
	url = https://github.com/elixir-lang/tree-sitter-elixir.git
	branch = main
[submodule "Sources/CLibgit2/upstream"]
	path = Sources/CLibgit2/upstream
	url = https://github.com/libgit2/libgit2.git
[submodule "Sources/CTSGrammars/grammars/ruby"]
	path = Sources/CTSGrammars/grammars/ruby
	url = https://github.com/tree-sitter/tree-sitter-ruby.git
[submodule "Sources/CTSGrammars/grammars/java"]
	path = Sources/CTSGrammars/grammars/java
	url = https://github.com/tree-sitter/tree-sitter-java.git
[submodule "Sources/CTSGrammars/grammars/lua"]
	path = Sources/CTSGrammars/grammars/lua
	url = https://github.com/MunifTanjim/tree-sitter-lua.git
[submodule "Sources/CTSGrammars/grammars/php"]
	path = Sources/CTSGrammars/grammars/php
	url = https://github.com/tree-sitter/tree-sitter-php.git
[submodule "Sources/CTSGrammars/grammars/vue"]
	path = Sources/CTSGrammars/grammars/vue
	url = https://github.com/ikatyang/tree-sitter-vue.git
[submodule "Sources/CTSGrammars/grammars/svelte"]
	path = Sources/CTSGrammars/grammars/svelte
	url = https://github.com/tree-sitter-grammars/tree-sitter-svelte.git
[submodule "Sources/CTSGrammars/grammars/scss"]
	path = Sources/CTSGrammars/grammars/scss
	url = https://github.com/serenadeai/tree-sitter-scss.git
[submodule "Sources/CTSGrammars/grammars/graphql"]
	path = Sources/CTSGrammars/grammars/graphql
	url = https://github.com/bkegley/tree-sitter-graphql.git
[submodule "Sources/CTSGrammars/grammars/hcl"]
	path = Sources/CTSGrammars/grammars/hcl
	url = https://github.com/MichaHoffmann/tree-sitter-hcl.git
[submodule "Sources/CTSGrammars/grammars/latex"]
	path = Sources/CTSGrammars/grammars/latex
	url = https://github.com/latex-lsp/tree-sitter-latex.git
[submodule "Sources/CTSGrammars/grammars/proto"]
	path = Sources/CTSGrammars/grammars/proto
	url = https://github.com/mitchellh/tree-sitter-proto.git
[submodule "Sources/CTSGrammars/grammars/r"]
	path = Sources/CTSGrammars/grammars/r
	url = https://github.com/r-lib/tree-sitter-r.git
[submodule "Sources/CTSGrammars/grammars/julia"]
	path = Sources/CTSGrammars/grammars/julia
	url = https://github.com/tree-sitter/tree-sitter-julia.git
[submodule "Sources/CTSGrammars/grammars/haskell"]
	path = Sources/CTSGrammars/grammars/haskell
	url = https://github.com/tree-sitter/tree-sitter-haskell.git
[submodule "Sources/CTSGrammars/grammars/ocaml"]
	path = Sources/CTSGrammars/grammars/ocaml
	url = https://github.com/tree-sitter/tree-sitter-ocaml.git
[submodule "Sources/CTSGrammars/grammars/c-sharp"]
	path = Sources/CTSGrammars/grammars/c-sharp
	url = https://github.com/tree-sitter/tree-sitter-c-sharp.git
[submodule "Sources/CTSGrammars/grammars/nix"]
	path = Sources/CTSGrammars/grammars/nix
	url = https://github.com/nix-community/tree-sitter-nix.git
